.map-container {
  width: 100%;
  height: 400px;
}

.add-race, .view-race {
  display: none;
}

.adding {
  .add-race {
    display: block;
  }

  .races {
    display: none;
  }

  .view-race {
    display: none;
  }
}

.viewing {
  .add-race {
    display: none;
  }

  .races {
    display: none;
  }

  .view-race {
    display: block;
  }
}
