<template name="dashboard_sidebar">
  <div class="dashboard-sidebar">
    {{> races}}
    {{> add_race}}
    {{> view_race}}
    {{> edit_race}}
  </div>
</template>

<template name="races">
  <div class="races">
    <a href="#" class="add">Add Race</a>

    <h2>Your races</h2>

    <ul>
      {{#each races}}
      <li><a href="#" data-race="{{_id}}">{{name}}</a></li>
      {{/each}}
    </ul>
  </div>
</template>

<template name="add_race">
  <div class="add-race">
    <a href="#" class="cancel">Cancel</a>
    <h2>Adding a race</h2>
    <form class="search">
      <input name="athlinks_id" type="text" placeholder="Search Athlinks">
      <button type="submit">Submit</button>
    </form>
    <form class="form-add-race">
      <input name="name" type="text" placeholder="Race name">
      <input name="city" type="text" placeholder="City">
      <input name="state" type="text" placeholder="State">
      <input name="country" type="text" placeholder="Country">
      <button type="submit">Submit</button>
    </form>
  </div>
</template>

<template name="view_race">
  <div class="view-race">
    <a href="#" class="cancel">Cancel</a>
    {{#with race}}
    <a href="#" class="edit" data-race="{{_id}}">Edit</a>
    <h2>{{name}}</h2>
    <p>{{lat}}, {{lon}}</p>
    {{/with}}
  </div>
</template>

<template name="edit_race">
  <div class="edit-race">
    <a href="#" class="cancel">Cancel</a>
    <h2>Editing race</h2>

    <form class="edit-race">
      {{#with race}}
      <input type="text" name="name" value="{{name}}" />
      {{/with}}
      <button type="submit">Submit</button>
    </form>
  </div>
</template>
